$hover-color:       #43a047;
$border-color:      #ccc;

.task {
  max-width: 360px;
  width: 100%;

  input[type="checkbox"] {
    display: none;
  }

  label {
    box-shadow: inset 0px 0px 0px 1px $border-color;
    display: flex;
    padding: 0;
    width: 100%;
    transition: background 0.15s ease-in-out,
                box-shadow 0.15s ease-in-out;

    .description-area {
      display: flex;
      flex: 2;
      flex-direction: column;
      padding: 10px 15px;
    }

    .category {
      color: #ccc;
      font-size: 14px;
    }

    .activity-name {
      align-items: center;
      display: flex;
      flex: 2;
      font-size: 24px;
      font-weight: bold;
    }

    &:hover {
      box-shadow: inset 0px 0px 0px 1px $hover-color;
      .big-icon {
        background-color: #eee;
        box-shadow: 0px 0px 0px 2px #eee;
      }
    }
  }

  &.selected {
    label {
      box-shadow: inset 0px 0px 0px 3px $hover-color;
    }

    &:hover {
      .big-icon {
        box-shadow: 0px 0px 0px 3px $hover-color;
        background-color: $hover-color;
        margin: 3px;
      }
    }
  }
}