$hover-color:       #43a047;
$border-color:      #ccc;

.big-icon {
    align-items: center;
    background-color: white;
    display: flex;
    min-height: 110px;
    justify-content: center;
    transition: background-color 0.15s ease-in-out,
                box-shadow 0.15s ease-in-out;
    box-shadow: 0px 0px 0px 2px white;
    width: 90px;
    margin: 3px;

    .glyphicon {
      color: white;
      font-size: 28px;
      padding-bottom: 5px;
    }

    .selected & {
      box-shadow: 0px 0px 0px 3px $hover-color;
      background-color: $hover-color;
      margin: 3px;
    }
}